In [1]:
# Part 1:  Lists and Loops

In [12]:
#Q1.1 Create a list with the names of every planet in the solar system (in order)

planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [3]:
#Q1.2 Have Python tell you how many planets there are by examining your list

len(planets)

8

In [13]:
#Q1.3 Use slicing to display the first four planets (the rocky planets)

rocky_planets = planets[0:4]
print(rocky_planets)

['Mercury', 'Venus', 'Earth', 'Mars']

In [5]:
#Q1.4 Iterate through your planets and print the planet name only if it has an s at the end

for i in planets:
    if i.endswith('s'):
        print(i)

Venus
Mars
Uranus

In [6]:
# Part II: Dictionaries

In [7]:
#Q2.1 Create a dictionary that maps each planet name to its mass

# Mass (10^24kg)
planet_info = { 'Mercury': 0.330, 
               'Venus': 4.87,
               'Earth': 5.97,
               'Mars':  0.642,
               'Jupiter': 1898,
               'Saturn': 568,
               'Uranus': 86.8,
               'Neptune': 102}
print("Earth's Mass =", planet_info['Earth'])

Earth's Mass = 5.97

In [8]:
#Q2.2 Loop through the data and create a list of planets whose mast is greater than 100 x 10^24 kg
for k in planet_info:
    if planet_info[k] > 100:
        print(k)

Jupiter
Saturn
Neptune

In [9]:
# Q2.3 Now add pluto to your dictionary

planet_info['Pluto'] = (0.0130)
print("Dictionary with Pluto =", planet_info)

Dictionary with Pluto = {'Mercury': 0.33, 'Venus': 4.87, 'Earth': 5.97, 'Mars': 0.642, 'Jupiter': 1898, 'Saturn': 568, 'Uranus': 86.8, 'Neptune': 102, 'Pluto': 0.013}

In [10]:
# Part III: Functions

In [29]:
#Q3.1 Write a function to convert temperature from kelvin to celsius and celsius to kelvin
#a) kelvin to celsius
def kelvin2celsius():
    k2c =  float(input("Enter temperature in Kelvin or Enter for Default value (273.15): ") or "273.15")
    celsius = k2c - 273.15
    print("The temperature in Celsius:", celsius)
#Enter Value or Default set to 273.15
kelvin2celsius()

Enter temperature in Kelvin or Enter for Default value (273.15):

The temperature in Celsius: 0.0

In [30]:
#b) celsius to kelvin
def celsius2kelvin():
    c2k =  float(input("Enter temperature in Celsius Enter for Default(0.00): ") or "0.00")
    kelvin = c2k + 273.15
    print("The temperature in Kelvin:", kelvin)
#Enter Value or Default set to 0.00
celsius2kelvin()

Enter temperature in Celsius Enter for Default(0.00):

The temperature in Kelvin: 273.15

In [31]:
#3.2 Write a function to convert temperature to fahrenheit
def celsius2fahrenheit():
    c2f =  float(input("Enter temperature in Celsius or Enter for Default(0.00): ") or "0.00")
    fahrenheit = (c2f * 9/5) + 32
    print("The temperature in Fahrenheit:", fahrenheit)
#Enter Value or Default set to 0.00
celsius2fahrenheit()

Enter temperature in Celsius or Enter for Default(0.00):

The temperature in Fahrenheit: 32.0

In [32]:
#3.3 Check that the outputs are sensible

#Example using default values - Do not type values, just press enter for default values
kelvin2celsius()
celsius2kelvin()
celsius2fahrenheit()

Enter temperature in Kelvin or Enter for Default value (273.15):

The temperature in Celsius: 0.0

Enter temperature in Celsius Enter for Default(0.00):

The temperature in Kelvin: 273.15

Enter temperature in Celsius or Enter for Default(0.00):

The temperature in Fahrenheit: 32.0

In [34]:
#3.4 Now write a function that converts from farenheit
f2c =  float(input("Enter temperature in fahrenheit or default value (32): ") or "32")
celsius2 = (f2c - 32) * (5/9)
print("The temperature in Celsius:", round(celsius2,2))

Enter temperature in fahrenheit or default value (32):

The temperature in Celsius: 0.0

In [43]:
#3.5 5) Write a function that takes two arguments (feet and inches) and returns height in meters
def height_in_meters():
    print("Input Height: ")
    h_ft = float(input("Enter Feet or default value(5 ft): ") or "5")
    h_inch = float(input("Inches or default value(3 inch): ") or "3")
    h_m = (h_ft * 0.3048) + (h_inch * 0.0254)
    print("Height(Meters):", round(h_m, 2))

height_in_meters()

Input Height:

Enter Feet or default value(5 ft):
Inches or default value(3 inch):

Height(Meters): 1.6

In [46]:
#3.6 Write a function takes one argument (height in meters) and returns two arguments (feet and inches)

def height_in_ft_inch():
    print("Input Height")
    h_meter = float(input("Enter Meters or default value(1.6m): ") or "1.6")
    #Convert meters to inch
    h_length = (h_meter * 39.3701)
    h_ft2 = round(h_length / 12)
    h_in2 = h_length - (h_ft2 * 12)
    print("Height:", round(h_ft2), "ft", round(h_in2), "in")

height_in_ft_inch()

Input Height

Enter Meters or default value(1.6m):

Height: 5 ft 3 in

In [47]:
# 3.7 Verify that the “round trip” conversion from and back to meters is consistent
#Example using default values - Do not type values, just press enter for default values
height_in_meters()
height_in_ft_inch()

Input Height:

Enter Feet or default value(5 ft):
Inches or default value(3 inch):

Height(Meters): 1.6
Input Height

Enter Meters or default value(1.6m):

Height: 5 ft 3 in